@charset 'utf-8';

$white : #ffffff;
$point : #1f86f7;

$ft-main-color : #000000;
$ft-nav-color : #222222;
$ft-nav-on-color : #3778f2;
$ft-sub-color : #999999;
$ft-sub-color2 : #9e9e9e;
$ft-dark-gray : #555555;

$footer-bg-color : #00011f;

$nav-btn-color : #afafaf;
$bd-color : #cccccc;