@charset 'utf-8';

::selection {
    background: $white;
    color: $point;
}

body {
    overflow: hidden;
}

.wrap {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    //overflow: hidden;

    .fullpage {
        overflow-x: hidden;

        .full_section {
            position: relative;
            height: calc(var(--vh, 1vh) * 100);
            overflow: hidden;
            box-sizing: border-box;

            .inner {
                position: relative;
                width: 100%;
                height: auto;
                min-height: 100%;
                max-height: calc(var(--vh) * 100);
                max-width: rem(1400);
                margin: 0 auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        footer {
            height: auto !important;

            .inner {
                position: relative;
                width: 100%;
                max-width: rem(1400);
                margin: 0 auto;
            }
        }
    }

    .fullpage_nav {
        @include centerY($type: fixed, $right: 20px);
        @include flex(center, center, 12px, column);
        z-index: 100;

        li {
            @include flex(center, center);
            width: rem(30);
            height: rem(30);
            background: transparent;
            border: 1px solid transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &::after {
                @include content;
                width: rem(5);
                height: rem(5);
                border-radius: 50%;
                background: $nav-btn-color;
                transition: all 0.3s ease-in-out;
            }

            &.on {
                border: 1px solid $point;

                &::after {
                    background: $point;
                }
            }
        }

        &.white {
            li {
                &::after {
                    background: $white;
                }

                &.on {
                    border: 1px solid $white;

                    &::after {
                        background: $white;
                    }
                }
            }
        }
    }
}